h1{
    font-size: 20pt;
    color:black;
    font-family: "Yuji Mai", serif;
        
}
#fname ,#lname ,#age,#date,#address{
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

#fname:focus,#lname:focus,#age:focus ,#date:focus,#address:focus{
    border-color: #ff0000;
}

#fname:hover ,#lname:hover,#age:hover,#date:hover,#address:hover{
    border-color: #00ff00; 
}

td {
    padding: 10px;
}


body {
    background-color: beige;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: "Kanit", sans-serif;

}
.class-p{
    color: black;
    font-size: 20pt;
    text-align: center;
}
#reset{
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px ;
    animation: fristanimetion1 1s infinite;
}
#reset:hover{
    background-color: #ff0000;
    color: black;
    box-shadow: black;
    box-shadow: 3px 3px 3px black;
}
#submit {
    background-color: #00ffc8;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px ;
    animation: fristanimetion 1s infinite; 
}
#submit:hover{
    background-color: #00ffc8;
    color: white;
    box-shadow: 3px 3px 3px black;
}
@keyframes fristanimetion{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes fristanimetion1{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}